:root {
    --c__text: #222222;
    --c__link: #007cc1;
    --c__grey: #efefef;
    --c__blue: #00526e;

    --spacing__gap: 8px;
    --block__spacing: 4.8rem;
    --block__spacing_dsk: 6.4rem;

    --indent__s: 8px;
    --indent__base: 16px;
    --indent__l: 24px;
    --indent__xl: 32px;

    --font-size__s: 1.4rem;
    --font-size__base: 1.6rem;
    --font-size__l: 1.8rem;

    --layout__max-width: 1200px;
}

body {
    background: white;
    color: var(--c__text);
    font-family: 'Arial', sans-serif;
}

/*Typography*/
h1,
h2,
h3,
h4 {
    color: var(--c__blue);
    margin-bottom: var(--indent__s);
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.375rem;
  line-height: 2rem;
}

/*Core*/
html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size__base);
    margin: 0;
    padding: 0;
}

/* Reset */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-tap-highlight-color: black(0);
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.4;
}

a {
    color: var(--c__link);
}

html,
body,
img,
fieldset,
abbr,
acronym {
    border: 0;
}

th,
code,
cite,
caption {
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

address {
    font-style: normal;
}

fieldset {
    margin: 0;
    margin-bottom: var(--indent__base);
    padding: 0;
    border: 0;
}

select,
input {
    border: 1px solid var(--c__grey);
    border-radius: 0;
    display: block;
    font-size: var(--font-size__base);
    height: 44px;
    padding: var(--indent__s);
    width: 100%;
    max-width: 300px;
}

textarea {
    font-size: var(--font-size__base);
    height: 8rem;
    padding: var(--indent__s);
    width: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

button {
    font-size: var(--font-size__base);
    background: var(--c__blue);
    color: white;
    padding: 12px var(--indent__base);
}